* {
    margin: 0;
    padding: 0;
}

#topNav {
    background-color: blueviolet;
}

.topNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 8vh;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.hiddenClass {
    display: none;
}
